@tailwind base;
@tailwind components;
@tailwind utilities;

.headerButton1 {
  background-color: rgb(223, 223, 223);
}
.headerButton2 {
  background-color: rgb(23, 23, 23);
}

.colorSection {
  background-color: rgb(228, 108, 87);
}
